body {
  background-color: #ffcc66; }

.container {
  margin: auto;
  width: 1000px;
  height: 800px; }

.left-panel {
  width: 290px;
  height: 680px;
  background-color: #f2f2f2;
  display: inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 35px; }
  .left-panel .card {
    width: 225px;
    height: 105px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: #ffffff;
    border: 2px solid #e1e1e1; }
  .left-panel .card:hover {
    border: 2px solid #8393ca; }
  .left-panel .ltext {
    font-size: 22px;
    color: gray;
    padding-top: 20px; }

.right-panel {
  width: 550px;
  height: 680px;
  background-color: #ffffff;
  display: inline-block;
  margin-left: -4px;
  vertical-align: top;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 35px; }

.title {
  font-size: 24px;
  color: gray;
  padding: 20px;
  min-width: 210px;
  display: inline-block; }

.balance {
  font-size: 18px;
  font-weight: bold;
  color: #8393ca; }

.balanceg {
  font-size: 18px;
  font-weight: bold;
  color: #66cc33; }

.charge {
  font-size: 18px;
  font-weight: bold;
  color: #333333; }

.charge-desc {
  font-size: 16px;
  color: #999999; }

.col {
  display: inline-block;
  padding: 15px; }

.col2 {
  min-width: 355px;
  max-width: 355px; }

.big-balance {
  font-size: 40px;
  font-weight: bold;
  color: #444750;
  display: inline-block;
  vertical-align: top;
  padding-left: 90px;
  padding-top: 30px; }
